.notification {
    position: fixed;
    background: #000;
    /* border: 1px solid #E6E6E6; */
    box-sizing: border-box;
    padding: 16px 16px;
    top: 70px;
    left: 50%;
    font-size: 13px;
    font-weight: 700;
    text-align: left;
    color: #fff;
    border-radius: 16px;
    transform: translateX(-50%);
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    animation: fadeIn 5s ease-in-out forwards; 
}

.noticeCloseBtn {
    background: #fff;
    border-radius: 50px;
    width: 24px;
    height: 24px;
}

@keyframes fadeIn {
    0% {
        top: -100%;
    }
    25% {
        top: 80px;
    }
    35% {
        top: 70px;
    }
    50% {
        top: 70px;
    }
    75% {
        top: 70px;
    }
    100% {
        top: -100%;
    }
}
