.noEntryPage {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding: 0 16px;
    gap: 16px;
    text-align: center;
}

.noEntryPage h1 {
    font-size: 24px;
    color: #0d0d0d;
}

.noEntryPage p {
    font-size: 14px;
    color: #0d0d0d;
}