.trainPage {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.topTrain {
    padding: 70px 16px 32px 16px;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.trainTitle {
    display: flex;
    align-items: center;
    gap: 8px;
}

.botTrain {
    background-color: #fff;
    border-radius: 16px 16px 0 0;
    padding: 16px;
    flex: 1;
    min-height: 0; /* Важно для корректной работы flex в Firefox */
    position: relative;
    overflow: hidden;
}

.train-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 12px; 
    position: relative;
    transition: transform 150ms linear;
}

.train-details-content {            
    border-radius: 14px;
    position: relative;
    transition: transform 150ms linear;
    right: -150%;
}
