.profileBtn {
    width: 40px;
    height: 40px;
    border: 2px solid #CBFF52;
    background: #F2F2F2;
    position: relative;
    border-radius: 50px;
}

.profileBtn img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.profileEllips {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #CBFF52;
    border: 1px solid #F2F2F2;
    width: 9px;
    height: 9px;
    border-radius: 50px;
}