.progressContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.progressInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.progressTitle, .progressCount {
    color: #0D0D0D;
    font-size: 12px;
}

.progressCount {
    font-weight: 700;
}

.progress {
    height: 14px;
    border-radius: 50px;
    background-color: #fff;
    overflow: hidden;
    width: 100%;
}

.progress::-webkit-progress-bar {
    background-color: #fff; 
    border-radius: 50px; 
}

.progress::-webkit-progress-value {
    background-color: #CBFF52; 
    border-radius: 50px;
    transition: all 0.150s ease-in-out; 
}

.progress::-moz-progress-bar {
    background-color: #CBFF52; 
    border-radius: 50px;
}

.progress.purple::-webkit-progress-value {
    background-color: #A799FF;
}

.progress[value] {
    appearance: none; 
}