.dashboard {
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: 100%;
  flex: 1;
}

.dashTop {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 70px 16px 0 16px;
}

.dashHeader {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.dashLabels {
  display: flex;
  gap: 8px;
}

.spinnerSvg {
  animation: spin 5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.hello {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.hello h1 {
  color: #03001A;
  font-size: 24px;
}

.dashBot {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 16px 16px 0 0;
  padding-top: 16px;
  background: #fff;
  flex: 1;
  padding-bottom: 24px;
}

.history {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 16px;
}

.dashMenu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  padding: 0 16px;
}