.trainPage {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-x: hidden;
}

.topTrain {
  padding: 70px 16px 32px 16px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.trainTitle {
  display: flex;
  align-items: center;
  gap: 8px;
}

.botTrain {
  background-color: #fff;
  border-radius: 16px 16px 0 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: fit-content;
  position: relative;
}

.content-wrapper {
  display: flex;
  flex: 1;
  position: relative;
  min-height: fit-content;
  width: 200%;
  transition: transform 0.3s ease-in-out;
}

.content-wrapper.slide-left {
  transform: translateX(-50%);
}

.train-content {
  width: 50%;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  overflow: hidden;
  padding: 16px;
  box-sizing: border-box;
}

.train-details-content {
  width: 100%;
  position: relative;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  background: #fff;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: fit-content;
}

.train-details-content.slide-in {
  transform: translateX(0);
}

.training-page ol {
  list-style-position: inside;
  padding-left: 0;
  margin: 0;
}

.training-page ol li {
  padding-left: 0;
  margin-bottom: 8px;
  position: relative;
}

.training-page ol li::marker {
  color: #A799FF;
  font-weight: bold;
}
